prboom2/VISUALC6/Debug
prboom2/VISUALC6/DebugGL
prboom2/VISUALC6/DebugNOASM
prboom2/VISUALC6/DebugNOASMGL
prboom2/VISUALC6/DebugServer
prboom2/VISUALC6/Doom.ncb
prboom2/VISUALC6/Doom.opt
prboom2/VISUALC6/Doom.plg
prboom2/VISUALC6/Release
prboom2/VISUALC6/ReleaseGL
prboom2/VISUALC6/ReleaseNOASM
prboom2/VISUALC6/ReleaseNOASMGL
prboom2/VISUALC6/ReleaseServer
prboom2/data/prboom.wad
prboom2/release
pyboom/pyboom/*.pyc
pyboom/pyboom/*.pyo
