prboom2/ICONS/icons.aps
prboom2/ICONS/prboom-plus.wad
prboom2/VisualC6/Debug
prboom2/VisualC6/DebugGL
prboom2/VisualC6/DebugNOASM
prboom2/VisualC6/DebugNOASMGL
prboom2/VisualC6/DebugServer
prboom2/VisualC6/Doom.ncb
prboom2/VisualC6/Doom.opt
prboom2/VisualC6/Doom.plg
prboom2/VisualC6/Release
prboom2/VisualC6/ReleaseGL
prboom2/VisualC6/ReleaseNOASM
prboom2/VisualC6/ReleaseNOASMGL
prboom2/VisualC6/ReleaseServer
prboom2/VisualC6/prboom_server.plg
prboom2/VisualC8/*.user
prboom2/VisualC8/Debug
prboom2/VisualC8/DebugGL
prboom2/VisualC8/DebugNOASM
prboom2/VisualC8/DebugNOASMGL
prboom2/VisualC8/DebugServer
prboom2/VisualC8/Doom.ncb
prboom2/VisualC8/Doom.suo
prboom2/VisualC8/Release
prboom2/VisualC8/ReleaseGL
prboom2/VisualC8/ReleaseNOASM
prboom2/VisualC8/ReleaseNOASMGL
prboom2/VisualC8/ReleaseServer
prboom2/data/prboom.wad
prboom2/release
/prboom2/VisualC2015/DebugGL
/prboom2/VisualC2015/.vs/Doom/v16
/prboom2/VisualC2015/DebugServer
/prboom2/VisualC2015/Release
/prboom2/VisualC2015/ReleaseGL/Doom.tlog
/prboom2/VisualC2015/ReleaseGL
/prboom2/VisualC2015/ReleaseServer/prboom_server.tlog
/prboom2/VisualC2015/ReleaseServer
/build*
