* text=auto !eol
eternity/Eternity.dsp eol=crlf
eternity/Eternity.dsw eol=crlf
eternity/Source/DJGPP/DRAWCOL.S -text
eternity/Source/DJGPP/DRAWSPAN.S -text
eternity/Source/DJGPP/PPROBLIT.S -text
eternity/Source/Makefile -text
eternity/Source/Makefile.unix -text
eternity/Source/Win32/i_fnames.c -text
eternity/Source/Win32/i_fnames.h -text
eternity/Source/e_lib.c -text
eternity/Source/e_lib.h -text
eternity/Source/e_states.c -text
eternity/Source/e_states.h -text
eternity/Source/e_string.c -text
eternity/Source/e_string.h -text
eternity/Source/e_things.c -text
eternity/Source/e_things.h -text
eternity/Source/e_ttypes.c -text
eternity/Source/e_ttypes.h -text
eternity/Source/m_dllist.h -text
eternity/Source/makefile.mingw -text
eternity/Source/mingw_obj/mingwobj_tmp.txt -text
eternity/Source/mingw_objdebug/mingw_objdebugtmp.txt -text
eternity/Source/obj/obj_temp.txt -text
eternity/Source/objdebug/objdebug_temp.txt -text
eternity/Source/rules.make -text
eternity/Source/sdl/Makefile -text
eternity/Source/v_block.h -text
eternity/Source/v_font.c -text
eternity/Source/v_font.h -text
eternity/docs/extradata.html -text
eternity/docs/mapinfo.html -text
eternity/docs/small_funcref.html -text
eternity/docs/small_usagedoc.html -text
eternity/edf/terrain.edf -text
prboom2/ICONS/Makefile.am eol=lf
prboom2/ICONS/barrel.ico -text
prboom2/ICONS/fouch.ico -text
prboom2/ICONS/god.ico -text
prboom2/ICONS/heada1.ico -text
prboom2/ICONS/skull.ico -text
prboom2/Makefile.am eol=lf
prboom2/VISUALC5/Makefile.am eol=lf
prboom2/VISUALC6/Doom.dsp eol=crlf
prboom2/VISUALC6/Doom.dsw eol=crlf
prboom2/VISUALC6/Makefile.am eol=lf
prboom2/VISUALC6/prboom_server.dsp eol=crlf
prboom2/autotools/ac_c_compile_flags.m4 eol=lf
prboom2/autotools/ac_cpu_optimisations.m4 eol=lf
prboom2/data/Makefile.am eol=lf
prboom2/data/graphics/boxcc.ppm -text svneol=unset#application/octet-stream
prboom2/data/graphics/boxcl.ppm -text svneol=unset#application/octet-stream
prboom2/data/graphics/boxcr.ppm -text svneol=unset#application/octet-stream
prboom2/data/graphics/boxlc.ppm -text svneol=unset#application/octet-stream
prboom2/data/graphics/boxll.ppm -text svneol=unset#application/octet-stream
prboom2/data/graphics/boxlr.ppm -text svneol=unset#application/octet-stream
prboom2/data/graphics/boxuc.ppm -text svneol=unset#application/octet-stream
prboom2/data/graphics/boxul.ppm -text svneol=unset#application/octet-stream
prboom2/data/graphics/boxur.ppm -text svneol=unset#application/octet-stream
prboom2/data/graphics/dig0.ppm -text
prboom2/data/graphics/dig1.ppm -text
prboom2/data/graphics/dig2.ppm -text
prboom2/data/graphics/dig3.ppm -text
prboom2/data/graphics/dig4.ppm -text
prboom2/data/graphics/dig45.ppm -text
prboom2/data/graphics/dig47.ppm -text
prboom2/data/graphics/dig5.ppm -text
prboom2/data/graphics/dig58.ppm -text
prboom2/data/graphics/dig6.ppm -text
prboom2/data/graphics/dig7.ppm -text
prboom2/data/graphics/dig8.ppm -text
prboom2/data/graphics/dig9.ppm -text
prboom2/data/graphics/dig91.ppm -text
prboom2/data/graphics/dig93.ppm -text
prboom2/data/graphics/diga.ppm -text
prboom2/data/graphics/digb.ppm -text
prboom2/data/graphics/digc.ppm -text
prboom2/data/graphics/digd.ppm -text
prboom2/data/graphics/dige.ppm -text
prboom2/data/graphics/digf.ppm -text
prboom2/data/graphics/digg.ppm -text
prboom2/data/graphics/digh.ppm -text
prboom2/data/graphics/digi.ppm -text
prboom2/data/graphics/digj.ppm -text
prboom2/data/graphics/digk.ppm -text
prboom2/data/graphics/digl.ppm -text
prboom2/data/graphics/digm.ppm -text
prboom2/data/graphics/dign.ppm -text
prboom2/data/graphics/digo.ppm -text
prboom2/data/graphics/digp.ppm -text
prboom2/data/graphics/digq.ppm -text
prboom2/data/graphics/digr.ppm -text
prboom2/data/graphics/digs.ppm -text
prboom2/data/graphics/digt.ppm -text
prboom2/data/graphics/digu.ppm -text
prboom2/data/graphics/digv.ppm -text
prboom2/data/graphics/digw.ppm -text
prboom2/data/graphics/digx.ppm -text
prboom2/data/graphics/digy.ppm -text
prboom2/data/graphics/digz.ppm -text
prboom2/data/graphics/hu_frags.ppm -text
prboom2/data/graphics/hu_frgbx.ppm -text
prboom2/data/graphics/m_about.ppm -text
prboom2/data/graphics/m_auto.ppm -text
prboom2/data/graphics/m_butt1.ppm -text
prboom2/data/graphics/m_butt2.ppm -text
prboom2/data/graphics/m_chat.ppm -text
prboom2/data/graphics/m_colors.ppm -text
prboom2/data/graphics/m_compat.ppm -text
prboom2/data/graphics/m_demos.ppm -text
prboom2/data/graphics/m_enem.ppm -text
prboom2/data/graphics/m_feat.ppm -text
prboom2/data/graphics/m_generl.ppm -text
prboom2/data/graphics/m_horsen.ppm -text
prboom2/data/graphics/m_hud.ppm -text
prboom2/data/graphics/m_keybnd.ppm -text
prboom2/data/graphics/m_mess.ppm -text
prboom2/data/graphics/m_mouse.ppm -text
prboom2/data/graphics/m_multi.ppm -text
prboom2/data/graphics/m_palno.ppm -text
prboom2/data/graphics/m_palsel.ppm -text
prboom2/data/graphics/m_player.ppm -text
prboom2/data/graphics/m_setup.ppm -text
prboom2/data/graphics/m_slidel.ppm -text
prboom2/data/graphics/m_slidem.ppm -text
prboom2/data/graphics/m_slideo.ppm -text
prboom2/data/graphics/m_slider.ppm -text
prboom2/data/graphics/m_sound.ppm -text
prboom2/data/graphics/m_stat.ppm -text
prboom2/data/graphics/m_vbox.ppm -text
prboom2/data/graphics/m_versen.ppm -text
prboom2/data/graphics/m_video.ppm -text
prboom2/data/graphics/m_wad.ppm -text
prboom2/data/graphics/m_weap.ppm -text
prboom2/data/graphics/prboom.ppm -text
prboom2/data/graphics/stbr123.ppm -text
prboom2/data/graphics/stbr124.ppm -text
prboom2/data/graphics/stbr125.ppm -text
prboom2/data/graphics/stbr126.ppm -text
prboom2/data/graphics/stbr127.ppm -text
prboom2/data/graphics/stcfn096.ppm -text
prboom2/data/graphics/stcfn123.ppm -text
prboom2/data/graphics/stcfn124.ppm -text
prboom2/data/graphics/stcfn125.ppm -text
prboom2/data/graphics/stkeys6.ppm -text
prboom2/data/graphics/stkeys7.ppm -text
prboom2/data/graphics/stkeys8.ppm -text
prboom2/data/lumps/animated.lmp -text
prboom2/data/lumps/b_end.lmp -text svneol=unset#application/octet-stream
prboom2/data/lumps/b_start.lmp -text svneol=unset#application/octet-stream
prboom2/data/lumps/c_end.lmp -text svneol=unset#application/octet-stream
prboom2/data/lumps/c_start.lmp -text svneol=unset#application/octet-stream
prboom2/data/lumps/crblue.lmp -text
prboom2/data/lumps/crblue2.lmp -text
prboom2/data/lumps/crbrick.lmp -text
prboom2/data/lumps/crbrown.lmp -text
prboom2/data/lumps/crgold.lmp -text
prboom2/data/lumps/crgray.lmp -text
prboom2/data/lumps/crgreen.lmp -text
prboom2/data/lumps/crorange.lmp -text
prboom2/data/lumps/crred.lmp -text
prboom2/data/lumps/crtan.lmp -text
prboom2/data/lumps/cryellow.lmp -text
prboom2/data/lumps/endboom.lmp -text svneol=unset#application/octet-stream
prboom2/data/lumps/gammatbl.lmp -text svneol=unset#application/octet-stream
prboom2/data/lumps/sinetabl.lmp -text
prboom2/data/lumps/switches.lmp -text
prboom2/data/lumps/tangtabl.lmp -text
prboom2/data/lumps/tantoang.lmp -text
prboom2/data/lumps/watermap.lmp -text
prboom2/data/sounds/dsdgact.wav -text
prboom2/data/sounds/dsdgatk.wav -text
prboom2/data/sounds/dsdgdth.wav -text
prboom2/data/sounds/dsdgpain.wav -text
prboom2/data/sounds/dsdgsit.wav -text
prboom2/data/sprites/dogsa1.ppm -text
prboom2/data/sprites/dogsa2a8.ppm -text
prboom2/data/sprites/dogsa3a7.ppm -text
prboom2/data/sprites/dogsa4a6.ppm -text
prboom2/data/sprites/dogsa5.ppm -text
prboom2/data/sprites/dogsb1.ppm -text
prboom2/data/sprites/dogsb2b8.ppm -text
prboom2/data/sprites/dogsb3b7.ppm -text
prboom2/data/sprites/dogsb4b6.ppm -text
prboom2/data/sprites/dogsb5.ppm -text
prboom2/data/sprites/dogsc1.ppm -text
prboom2/data/sprites/dogsc2c8.ppm -text
prboom2/data/sprites/dogsc3c7.ppm -text
prboom2/data/sprites/dogsc4c6.ppm -text
prboom2/data/sprites/dogsc5.ppm -text
prboom2/data/sprites/dogsd1.ppm -text
prboom2/data/sprites/dogsd2d8.ppm -text
prboom2/data/sprites/dogsd3d7.ppm -text
prboom2/data/sprites/dogsd4d6.ppm -text
prboom2/data/sprites/dogsd5.ppm -text
prboom2/data/sprites/dogse1.ppm -text
prboom2/data/sprites/dogse2.ppm -text
prboom2/data/sprites/dogse3.ppm -text
prboom2/data/sprites/dogse4.ppm -text
prboom2/data/sprites/dogse5.ppm -text
prboom2/data/sprites/dogse6.ppm -text
prboom2/data/sprites/dogse7.ppm -text
prboom2/data/sprites/dogse8.ppm -text
prboom2/data/sprites/dogsf1.ppm -text
prboom2/data/sprites/dogsf2.ppm -text
prboom2/data/sprites/dogsf3.ppm -text
prboom2/data/sprites/dogsf4.ppm -text
prboom2/data/sprites/dogsf5.ppm -text
prboom2/data/sprites/dogsf6.ppm -text
prboom2/data/sprites/dogsf7.ppm -text
prboom2/data/sprites/dogsf8.ppm -text
prboom2/data/sprites/dogsg1.ppm -text
prboom2/data/sprites/dogsg2.ppm -text
prboom2/data/sprites/dogsg3.ppm -text
prboom2/data/sprites/dogsg4.ppm -text
prboom2/data/sprites/dogsg5.ppm -text
prboom2/data/sprites/dogsg6.ppm -text
prboom2/data/sprites/dogsg7.ppm -text
prboom2/data/sprites/dogsg8.ppm -text
prboom2/data/sprites/dogsh1.ppm -text
prboom2/data/sprites/dogsh2.ppm -text
prboom2/data/sprites/dogsh3.ppm -text
prboom2/data/sprites/dogsh4.ppm -text
prboom2/data/sprites/dogsh5.ppm -text
prboom2/data/sprites/dogsh6.ppm -text
prboom2/data/sprites/dogsh7.ppm -text
prboom2/data/sprites/dogsh8.ppm -text
prboom2/data/sprites/dogsi0.ppm -text
prboom2/data/sprites/dogsj0.ppm -text
prboom2/data/sprites/dogsk0.ppm -text
prboom2/data/sprites/dogsl0.ppm -text
prboom2/data/sprites/dogsm0.ppm -text
prboom2/data/sprites/dogsn0.ppm -text
prboom2/data/sprites/tnt1a0.ppm -text
prboom2/doc/Makefile.am eol=lf
prboom2/make-release.cmd -text
prboom2/src/MAC/English.lproj/MainMenu.nib/classes.nib -text
prboom2/src/MAC/English.lproj/MainMenu.nib/info.nib -text
prboom2/src/MAC/English.lproj/MainMenu.nib/keyedobjects.nib -text
prboom2/src/MAC/Image-DS_Store -text
prboom2/src/MAC/Info.plist -text
prboom2/src/MAC/Launcher.icns -text
prboom2/src/MAC/LauncherApp.h -text
prboom2/src/MAC/LauncherApp.m -text
prboom2/src/MAC/LauncherMain.m -text
prboom2/src/MAC/PrBoom.icns -text
prboom2/src/MAC/PrBoom.sdef -text
prboom2/src/MAC/Rakefile -text
prboom2/src/MAC/SDLMain.h -text
prboom2/src/MAC/SDLMain.m -text
prboom2/src/MAC/config.h -text
prboom2/src/MAC/i_sound.c -text
prboom2/src/MAC/i_system.m -text
prboom2/src/MAC/macsupport.rb -text
prboom2/src/Makefile.am eol=lf
prboom2/src/OSS/Makefile.am eol=lf
prboom2/src/POSIX/Makefile.am eol=lf
prboom2/src/SDL/Makefile.am eol=lf
prboom2/src/X11/Makefile.am eol=lf
prboom2/src/d_ipxgate.c -text
prboom2/src/w_memcache.c -text
prboom2/src/w_mmap.c -text
prboom2/tests/demo-testing.csv -text
pyboom/main.py -text
website/cgi-bin/genlin.cgi -text
website/html/DOOM04.jpg -text
website/html/DOOM05.jpg -text
website/html/DOOM06.jpg -text
website/html/OGL.gif -text
website/html/pastebin.css -text
website/html/pastebin.php -text
website/html/prboom2.gif -text
website/readme.txt -text
website/src/mailinglists.ht -text
website/src/mbf-bugs.ht -text
website/templates/template.html -text
website/web.config -text
