* text=auto !eol
eternity/Eternity.dsp eol=crlf
eternity/Eternity.dsw eol=crlf
eternity/Source/DJGPP/DRAWCOL.S -text
eternity/Source/DJGPP/DRAWSPAN.S -text
eternity/Source/DJGPP/PPROBLIT.S -text
eternity/Source/Makefile -text
eternity/Source/Makefile.unix -text
eternity/Source/dep.txt -text
eternity/Source/makefile.mingw -text
eternity/Source/mingw_obj/mingwobj_tmp.txt -text
eternity/Source/mingw_objdebug/mingw_objdebugtmp.txt -text
eternity/Source/obj/obj_temp.txt -text
eternity/Source/objdebug/objdebug_temp.txt -text
eternity/Source/rules.make -text
eternity/Source/sdl/Makefile -text
prboom2/ICONS/Makefile.am eol=lf
prboom2/ICONS/barrel.ico -text
prboom2/ICONS/fouch.ico -text
prboom2/ICONS/god.ico -text
prboom2/ICONS/heada1.ico -text
prboom2/ICONS/skull.ico -text
prboom2/Makefile.am eol=lf
prboom2/VISUALC5/Makefile.am eol=lf
prboom2/VISUALC6/Doom.dsp eol=crlf
prboom2/VISUALC6/Doom.dsw eol=crlf
prboom2/VISUALC6/Makefile.am eol=lf
prboom2/VISUALC6/prboom_server.dsp eol=crlf
prboom2/autotools/ac_c_compile_flags.m4 eol=lf
prboom2/autotools/ac_cpu_optimisations.m4 eol=lf
prboom2/data/Makefile.am eol=lf
prboom2/data/prboom.wad -text svneol=unset#application/x-doom-wad-file
prboom2/doc/Makefile.am eol=lf
prboom2/src/MAC/Info.plist -text
prboom2/src/MAC/PrBoom.icns -text
prboom2/src/MAC/Rakefile -text
prboom2/src/MAC/config.h -text
prboom2/src/MAC/i_system.m -text
prboom2/src/Makefile.am eol=lf
prboom2/src/OSS/Makefile.am eol=lf
prboom2/src/POSIX/Makefile.am eol=lf
prboom2/src/SDL/Makefile.am eol=lf
prboom2/src/X11/Makefile.am eol=lf
prboom2/src/d_ipxgate.c -text
prboom2/src/w_memcache.c -text
prboom2/src/w_mmap.c -text
pyboom/main.py -text
website/cgi-bin/genlin.cgi -text
website/html/DOOM04.jpg -text
website/html/DOOM05.jpg -text
website/html/DOOM06.jpg -text
website/html/OGL.gif -text
website/html/pastebin.css -text
website/html/pastebin.php -text
website/html/prboom2.gif -text
website/readme.txt -text
website/src/mailinglists.ht -text
website/src/mbf-bugs.ht -text
website/templates/template.html -text
website/web.config -text
