#include "resource.h"
#include "winresrc.h"
#include "config.h"

/* IDC_STATIC is documented in winuser.h, but not defined. */
#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON    DISCARDABLE     "prboom-plus.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

#ifdef USE_WINDOWS_LAUNCHER

1                       24      MOVEABLE PURE   "prboom-plus.exe.manifest"

IDD_LAUNCHERSERVERDIALOG DIALOGEX 0, 0, 187, 245
STYLE DS_SYSMODAL | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_APPWINDOW
CAPTION "PrBoom-Plus Launcher"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,72,224,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,127,224,50,14
    CONTROL         "Tab1",IDC_TAB1,"SysTabControl32",0x0,5,5,178,214
END

IDD_LAUNCHERCLIENTDIALOG DIALOGEX 7, 7, 173, 206
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    LTEXT           "Game:",IDC_STATIC,4,5,22,8,0,WS_EX_TRANSPARENT
    COMBOBOX        IDC_IWADCOMBO,4,15,164,100,CBS_DROPDOWNLIST | CBS_SORT | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Files:",IDC_STATIC,4,32,17,8,0,WS_EX_TRANSPARENT
    LISTBOX         IDC_PWADLIST,4,42,164,110,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | LBS_EXTENDEDSEL | 
                    WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    LTEXT           "History:",IDC_STATIC,4,155,38,8,0,WS_EX_TRANSPARENT
    COMBOBOX        IDC_HISTORYCOMBO,4,165,164,100,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Commands:",IDC_STATIC,4,181,38,8,0,WS_EX_TRANSPARENT
    COMBOBOX        IDC_COMMANDCOMBO,4,191,164,100,CBS_DROPDOWNLIST | 
                    WS_VSCROLL
    LTEXT           "",IDC_FULLFILENAMESTATIC,23,32,142,8
END

#endif // USE_WINDOWS_LAUNCHER
/////////////////////////////////////////////////////////////////////////////
